.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.02);
}

.card-title {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.reply {
    background-color: #f9f9f9;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.button {
    color: black;
    background-color: yellow;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
    font-size: 1rem;
}

.button:hover {
    background-color: rgba(255, 255, 0, 0.573);
}

/* Responsive media query */
@media screen and (max-width: 768px) {
    .card-title, .button {
        font-size: 0.9rem;
    }
    
    .reply {
        font-size: 0.8rem;
    }
    
    .card {
        width: 90%;
    }
}
