footer {
    background-color: black;
    color: white;
}

input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;

    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;



}

.txt-content h1 {
    font-size: 2.5rem;
}

@media only screen and (min-width: 800px) {
    .form_fill {
        height: 45rem;
    }

    .form_content {
        margin-top: 8rem;
    }

    .txt-content {
        margin-top: 8rem;
    }

    .txt-content h1 {
        font-size: 4rem;
    }

}
/* .txt-content :first-child {
    text-decoration: underline;
} */