<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Posts</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>





    <div class="top w-100 p-3" data-aos="zoom-in">

        <h1>Your Solutions</h1>


        <a href="#question"> <span id="yellow"> View and Post Solution here </span></a>

        <ul class="nav justify-content-end">
            <li class="nav-item mx-3">
                <a class="link-warning active" aria-current="page" href="/">Examine similar topics....</a>
            </li>
            <li class="nav-item mx-3">
                <a class="link-warning active" aria-current="page" href="/new">Post your Question</a>
            </li>


        </ul>


    </div>


    <div class="container">
        <div class="shadow p-3 mt-5 bg-white rounded" data-aos="flip-down">

            <h1>
                <%= Question.title %>
            </h1>

        </div>
        <hr>

    </div>





    <!-- comments here -->
    <% Question.Replies.forEach((ans)=>{ %>
        <div class="container">
            <div class="shadow p-3 mt-5 bg-white rounded" data-aos="flip-down">

                <h3>
                    <%=ans%>
                </h3>


            </div>
            <hr>

        </div>

        <% })%>










            <!-- comment section -->


            <div class="container mt-5" id="question" data-aos="flip-down">
                <hr>
                <h1><span id="yellow">Post</span> Your solution here Here.....</h1>
                <form action="/view/<%=Question._id %>/replies" method="post">
                    <div class="form-group">

                        <label for="">Name</label>
                        <input class="form-control" type="text" name="Name">
                        <label for="">Solution:</label>
                        <textarea class="form-control" name="reply" required></textarea>



                    </div>
                    <button class="btn btn-warning mt-2 w-100" type="submit" name="button">Reply</button>
                </form>

            </div>







            <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                crossorigin="anonymous"></script>

            <script>

                AOS.init({
                    duration: 1000,
                    delay: 400
                });

            </script>
</body>

</html>