.top {
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    margin-bottom: 20px;


}

#yellow {
    color: #FFE70F;
}

/* #size{
    font-size: 20px;
    color: #FFE70F;
} */

.solution {
    height: 10vh;
    width: 100%;
    background-color: black;
    color: aliceblue;

}

@media only screen and (max-width: 600px) {
    .solution {
        height: 18vh;
        width: 100%;
        background-color: black;
        color: aliceblue;

    }
}